name: actions-config-validation
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write # enable write permissions for pull request comments

jobs:
  actions-config-validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: actions-config-validation
        uses: GrantBirki/json-yaml-validate@250fa0dc7d7f4a888b24dc2a6b2ff589753fba70 # pin@v3.3.2
        with:
          comment: "true" # enable comment mode
          yaml_schema: "__tests__/schemas/action.schema.yml"
          exclude_file: ".github/config/exclude.txt"
